.Medium
{
    background-color: rgb(127, 127, 250)  !important;
}
.Low
{
    background-color: #333  !important;
}
.High
{
    background-color: rgb(253, 150, 150) !important;
}
.right
{
    display: flex;
    gap: .5rem;
    align-items: center;

}
.trash
{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: .5rem;
    border-radius: .5rem;
 
}
.trash:hover
{
    background-color: rgba(0,0,0,.6);
    color: #fff;
}
